{% extends 'base.html.twig' %}
{%  block title %}
    Set new password
{% endblock %}
{%  block stylesheets %}{{ encore_entry_link_tags('index') }}{% endblock %}
{% block body %}
    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
        <div class="border rounded p-5 col-6 bg-white ">
             <h4 class="mb-4 text-center">Set new password</h4>
             <p>Password must be at least 6 characters long, contain at least 1 number and at least 1 lowercase letter and least 1 uppercase letter and at least 1 special character</p>

            {% if error %}
                <h4 class="mb-4 text-center">Error!</h4>
                <b>{{ error }}</b>
            {% endif %}

            <form method="post">

                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                                <span class="input-group-text"
                                      id="basic-addon-audit-followers-min">Password</span>
                    </div>
                    <input type="password" name="password1" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>

                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                                <span class="input-group-text"
                                      id="basic-addon-audit-followers-min">Confirm</span>
                    </div>
                    <input type="password" name="password2" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>

                <button class="btn w-100 btn-primary" type="submit">
                    Confirm
                </button>

            </form>
        </div>
    </div>
{% endblock %}